#game_pad ul {
	list-style: none;
	padding: 0; margin: 0;
}
#game_pad ul li {
	display: inline-block;
	width: 30px; height: 30px; line-height: 30px;
	text-align: center;
	border: 2px solid #ddd;
	margin: 1px 4px;

	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}
#game_pad ul:nth-child(1) {
	margin-left: 84px;
}
#game_pad ul:nth-child(2) {
	margin-left: 63px;
}
#game_pad ul:nth-child(3) {
	margin-left: 42px;
}
#game_pad ul:nth-child(4) {
	margin-left: 21px;
}
#game_pad ul li:hover {
	color: #fff;
	background: #ff6a42;
	cursor: pointer;
}

#game_pad ul li.filled {
	color: #fff;
	background: #437aff;
	cursor: pointer;
}